:root {
  max-width: 1100px;
  margin: 0 auto;
padding: 2rem;
text-align: center;
  border-radius: 12px;
  --main: #E8CCCC;

}


  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }